# dependencies
node_modules/
.pnp
.pnp.js

.claude/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# Server build
server/dist/
server/build/

# IDE
.vscode/
.idea/

# Logs
logs
*.log
